.module-logged-in {
  border: 1px solid red;
  word-break: break-all;
}

.module-logged-out {
  border: 1px solid black;
}

#login-module > div {
  text-align: center;
}

#login-module > div > table {
  margin: auto;
}

.game-resources {
  font-size: 1.5em;
  text-align: center;
  background-color: #EEE;
}

#game-town, #game-barracks {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

.game-town-building-entry, .game-barracks-unit-entry, .game-adventures-entry {
  border: 1px solid black;
}

.game-town-building-entry-header, .game-barracks-unit-entry-header {
  font-size: 1.5em;
}

.game-barracks-units-train-form {
  margin: 2px;
  border: 1px solid black;
  background-color: #EEE;
}

#error-console {
  border: 1px solid red;
  height: 300px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

#error-console-container > div:last-child {
  text-align: center;
}
