body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightGrey;
}

a {
  color: #00B7FF;
}

#top-nav ul {
  margin: 0px;
  text-align: right;
}

#top-nav ul li {
  display: inline-block;
  border: 1px black solid;
  text-align: center;

}

#top-nav ul li:not(:last-child) {
  margin-right: 10px;
}

#top-nav ul li a {
  display: block;
  text-decoration: none;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  height: 100%;
}

#game-main-container {

}

#game-nav {
  display: inline-block;
  min-width: 100px;
  border: 1px solid black;
  margin-right: 50px;
  height: 100%;
}

#game-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#game-nav ul li {

}

#game-nav ul li:first-child {
  padding: 10px 0px;
  border-bottom: 1px dashed black;
}

#game-nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0px;
  text-decoration: none;
}

#game-resources-bar {
  display: inline-block;
  width: 60%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  vertical-align: top;
}

#game-resources-bar ul li {
  display: inline-block;
}

#game-resources-bar ul li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}

.game-disabled-feature {
  color: grey;
}

table.adventure-embark-review {
  border-collapse: collapse;
}

table.adventure-embark-review td {
  padding: 10px;
}

table.adventure-embark-review td:not(:last-child) {
  border-right: 1px solid black;
}

.adventure {
  display: inline-block;
  width: 20%;
}
