<div class="game-adventures-report-view" ng-show="advCtrl.adventureReport">
  <h3>Report</h3>
  <h4>Result: {{advCtrl.adventureReport.result}} after {{advCtrl.adventureReport.round}} round(s)</h4>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>Reward</caption>
          <th>Type</th>
          <th>Value</th>
        </thead>
        <tbody>
          <tr ng-repeat="(name, value) in advCtrl.adventureReport.adventure.reward">
            <td>{{name}}</td>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>My army:</caption>
          <th>Name</th>
          <th>Before</th>
          <th>After</th>
        </thead>
        <tbody>
          <tr ng-repeat="(unitName, unit) in advCtrl.adventureReport.user.units">
            <td>{{unitName}}</td>
            <td>{{unit.quantity.before}}</td>
            <td>{{unit.quantity.after}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>Opponents:</caption>
          <th>Name</th>
          <th>Before</th>
          <th>After</th>
        </thead>
        <tbody>
          <tr ng-repeat="(unitName, unit) in advCtrl.adventureReport.adventure.opponents">
            <td>{{unitName}}</td>
            <td>{{unit.quantity.before}}</td>
            <td>{{unit.quantity.after}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a ng-click="advCtrl.getAdventures()" class="btn btn-primary">Back</a>
</div>
