<div class="game-adventures-details-view" ng-show="advCtrl.selectedAdventure && !advCtrl.adventureReport">
  <h4>Adventure type: <b>{{advCtrl.selectedAdventure.name}}</b></h4>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>Opponents:</caption>
        </thead>
        <tbody>
          <tr ng-repeat="(opponentName, opponentQuantity) in advCtrl.selectedAdventure.details.opponents">
            <td>{{opponentName}}:</td>
            <td>{{opponentQuantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>Reward:</caption>
        </thead>
        <tbody>
          <tr ng-repeat="(resName, value) in advCtrl.selectedAdventure.details.reward">
            <td>{{resName | uppercase}}:</td>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
          <caption>My army:</caption>
        </thead>
        <tbody>
          <tr ng-repeat="(unitName, unit) in advCtrl.adventures.user.units">
            <td>{{unitName}}:</td>
            <td><input type="number" min="0" max="{{unit.quantity}}" ng-init="advCtrl.unitsToSendOnAdventure[unitName] = 0" ng-model="advCtrl.unitsToSendOnAdventure[unitName]"/> (Max: {{unit.quantity}})</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a ng-click="advCtrl.getAdventures()" class="btn btn-primary">Back</a>
  <a ng-click="advCtrl.sendOnAdventure(advCtrl.selectedAdventure._id)" class="btn btn-danger">Send!</a>
</div>
