<div class="game-adventures-list-view" ng-show="!advCtrl.selectedAdventure && !advCtrl.adventureReport">
  <div class="row">
    <div ng-repeat="adventure in advCtrl.adventures.user.adventures" class="col-md-3 game-adventures-entry">
      <h4>Adventure type: <b>{{adventure.name}}</b></h4>
      <div>
        <dl class="dl-horizontal">
          <dt>Opponents:</dt>
          <dd ng-repeat="(opponentName, opponentQuantity) in adventure.details.opponents">
            {{opponentName}}: {{opponentQuantity}}
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Reward:</dt>
          <dd ng-repeat="(resName, value) in adventure.details.reward">
            {{resName | uppercase}}: {{value}}
          </dd>
        </dl>
      </div>
      <a ng-click="advCtrl.selectAdventure(adventure)" class="btn btn-danger">Embark!</a>
    </div>
  </div>
</div>
