<div id="adventures-module" class="module-logged-in"> <!-- ng-controller="AdventuresController as advCtrl" ng-show="app.isActive(3)" -->
  <resources-module></resources-module>

  <adventures-list-view></adventures-list-view>
  <adventures-details-view></adventures-details-view>
  <adventures-report-view></adventures-report-view>
</div>
