<div id="barracks-module" class="module-logged-in"> <!-- ng-controller="BarracksController as barracksCtrl" ng-show="app.isActive(2)" -->
  <resources-module></resources-module>

  <div id="game-barracks" class="row">
    <div ng-repeat="(unitName, unit) in barracksCtrl.barracks.user.units" class="col-md-4 game-barracks-unit-entry">
      <div class="game-barracks-unit-entry-header"><b>{{unitName}}</b> (Quantity: {{unit.quantity}})</div>
      <div>
        <dl class="dl-horizontal">
          <dt>Stats:</dt>
          <dd ng-repeat="(key, value) in unit.stats">{{key}}: {{value}}</dd>
        </dl>
      </div>
      <div ng-if="!unit.available">
        <dl class="dl-horizontal">
          <dt>Requirements:</dt>
          <dd ng-repeat="(key, value) in unit.requirements">{{key}}: {{value}}</dd>
        </dl>
      </div>
      <div ng-if="unit.available">
        <dl class="dl-horizontal">
          <dt>Cost:</dt>
          <dd ng-repeat="(key, value) in unit.cost">{{key | uppercase}}: {{value}}</dd>
        </dl>
      </div>
      <div ng-if="unit.available" class="game-barracks-units-train-form">
        <div>Train {{unitName}}</div>
        <label>Amount:</label><input type="number" min="0" ng-init="barracksCtrl.unitsToTrain[unitName].amountToTrain = 0" ng-model="barracksCtrl.unitsToTrain[unitName].amountToTrain"/>
        <a ng-click="barracksCtrl.trainUnit(unitName)" class="btn btn-primary">Train</a>
      </div>
    </div>
  </div>
</div>
