<div id="error-console-container">
  <div id="error-console">
    <pre><div ng-repeat="error in app.errors" class='bg-danger'>{{error.occurrenceDate | date:"yyyy/MM/dd HH:mm:ss"}}: {{error.details}}</div></pre>
  </div>
  <div><a ng-click="app.clearErrors()" class="btn btn-success">Clear console</a></div>
</div>
