<div id="highscore-module"class="module-logged-in"> <!-- ng-controller="HighscoreController as hScoreCtrl" ng-show="app.isActive(4)" -->
  <div id="highscore">
    <ol>
      <li ng-repeat="score in hScoreCtrl.highscores"><pre>{{score.username}} :  {{score.highscore}}</pre></li>
    </ol>
  </div>
</div>
