<div id="login-module" ng-show="!app.jwtToken" class="module-logged-out">
  <div>
    <table>
      <tr>
        <td><label>User:</label></td>
        <td><input type="text" name="username" ng-model="app.username"/></td>
      </tr>
      <tr>
        <td><label>Pass:</label></td>
        <td><input type="password" name="password" ng-model="app.password"/></td>
      </tr>
    </table>
    <a ng-click="app.login(); app.setActiveView(1)" class="btn btn-primary">Login</a>
    <a href="/registration" class="btn btn-success">Register</a>
  </div>
</div>
