<nav id="nav-module">
  <ul class="nav nav-tabs nav-justified">
    <li ng-class="{'active': app.isActive(1)}"><a ng-click="app.setActiveView(1); navCtrl.selectTown()">Town</a></li>
    <li ng-class="{'active': app.isActive(2)}"><a ng-click="app.setActiveView(2); navCtrl.selectBarracks()">Barracks</a></li> <!-- TODO ng-if="+app.town.user.buildings['Barracks'].level > 0" -->
    <li ng-class="{'active': app.isActive(3)}"><a ng-click="app.setActiveView(3); navCtrl.selectAdventures()">Adventure</a></li>
    <li ng-class="{'active': app.isActive(4)}"><a ng-click="app.setActiveView(4); navCtrl.selectHighscores()">Highscore</a></li>
    <li ng-class="{'active': app.isActive(5)}"><a ng-click="app.setActiveView(5); app.logout()">Log out</a></li>
  </ul>
</nav>
