<div id="game-module" class="module-logged-in"> <!-- ng-controller="TownController as townCtrl" ng-show="app.isActive(1)"-->
  <resources-module></resources-module>

  <div id="game-town" class="row">
    <div ng-repeat="(buildingName, building) in townCtrl.town.user.buildings" class="col-md-4 game-town-building-entry">
      <div class="game-town-building-entry-header"><b>{{buildingName}}</b> (Level: {{building.level}})</div>
      <div>
        <b>Description:</b>
        <p><em>{{building.description}}</em></p>
      </div>
      <div ng-if="building.type === 'production'" >
        <div>
          <dl class="dl-horizontal">
            <dt>Production:</dt>
            <dd>Current: {{building.production.currentValue}}</dd>
            <dd>Next level: {{building.production.nextValue}}</dd>
          </dl>
        </div>
      </div>
      <div >
        <dl class="dl-horizontal">
          <dt>Next level cost:</dt>
          <dd ng-repeat="(key, value) in building.cost">{{key | uppercase}}: {{value}}</dd>
        </dl>
      </div>
      <div >
        <a ng-click="townCtrl.build(buildingName)" class="btn btn-success">Build next level</a>
      </div>
    </div>
  </div>
</div>
