h3= unitName
p
  b Stats
  br
  span Hp: #{unit.stats.hp}
  span |
  span Def: #{unit.stats.def}
  span |
  span Att: #{unit.stats.att}
  br
  b Quantity:
  span  #{unit.quantity}
  br
  b Price
  br
  span Food: #{unit.cost.food}
  span |
  span Gold: #{unit.cost.gold}
