extends layout

block content
  include user_nav
  div#game-main-container
    include game_nav
    include game_resources_bar
    if err
      p(class='error')= err
    h3 Result: #{user.report.result}
    table(class='adventure-embark-result')
      tbody
        tr
          td
            div(class='user-units-view')
              ul
                each unitReport, unitName in user.report.user.units
                  li
                    div
                      b #{unitName}
                      div Before: #{unitReport.quantity.before}
                      div After: #{unitReport.quantity.after}
          td
            div(class='adventure')
            ul
              each unitReport, unitName in user.report.adventure.opponents
                li
                  div
                    b #{unitName}
                    div Before: #{unitReport.quantity.before}
                    div After: #{unitReport.quantity.after}
    div
      h4 Reward:
      div
        ul
          each rewardValue, rewardName in user.report.adventure.reward
            li #{rewardName}: #{rewardValue}


mixin showReport(unitsReport)
  ul
    if unitsReport
      each unitReport, unitName in unitsReport
        li
          div
            b #{unitName}
            div Before: #{unitReport.quantity.before}
            div After: #{unitReport.quantity.after}
