nav#game-nav
  ul
    li
      | Player:
      b  #{user.name}
    li
      a(href='/game/town') Town
    if user.buildings["Barracks"] && user.buildings["Barracks"].level > 0
      li
        a(href="/game/barracks") Barracks
    li
      a(href='/game/adventures') Adventure
    li
      a(href='/game/highscore') Highscore
