extends layout

block content
  include user_nav
  div#game-main-container
    include game_nav
    include game_resources_bar
    if user.buildings["Barracks"] && user.buildings["Barracks"].level > 0
      div
        if err
          p(class='error')= err
        if user.units
          each unit, unitName in user.units
            if unit.available === false
              div.game-disabled-feature
                include game_barracks_unit_unavailable_view
                +buildUnitForm(unitName, false)
            else
              div
                include game_barracks_unit_view
                +buildUnitForm(unitName, true)
            hr
        else
          p No units available!
    else
      div
        p You should build barracks first!


mixin buildUnitForm(uType, isEnabled)
  form(action='/game/barracks/units/build' method='POST')
    if isEnabled
      input(type='hidden' value='#{uType}' name='unitType')
      input(type='number' min='0' name='quantity')
      input(type='submit' value='Train')
    else
      input(type='hidden' value='#{uType}' name='unitType')
      input(type='number' min='0' name='quantity' disabled)
      input(type='submit' value='Train' disabled)
