extends layout

block content
  include user_nav
  div#game-main-container
    include game_nav
    include game_resources_bar
    if user.buildings
      each buildingDetails, buildingName in user.buildings
        div
          h3 #{buildingName} (Level: #{buildingDetails.level})
          p= buildingDetails.description
          if buildingDetails.production
            p
              span Current value: #{buildingDetails.production.currentValue}
              br
              span Next value: #{buildingDetails.production.nextValue}
          p
            b Price
            br
            span Food: #{buildingDetails.cost.food}
            span |
            span Gold: #{buildingDetails.cost.gold}
          form(method='POST' action='/game/town/buildings/build')
            input(type='hidden' value='#{buildingName}' name='buildTarget')
            if user.resources.food >= buildingDetails.cost.food && user.resources.gold >= buildingDetails.cost.gold
              input(type='submit' value='build')
            else
              input(type='submit' value='build' disabled)
          hr
