extends layout

block content
  include user_nav
  div#game-main-container
    include game_nav
    include game_resources_bar
    if err
      p(class='error')= err
    if user.adventure
      table(class='adventure-embark-review')
        tbody
          tr
            td
              div(class='user-units-view')
                h4 Available units:
                form(method='POST' action='/game/adventures/embark/#{user.adventure.id}')
                  ul
                    each unit, unitName in user.units
                      li
                        div
                          div
                            b #{unitName}:
                            span #{unit.quantity}
                          span Selected:
                          input(type='number' name='#{unitName}' min='0' max='#{unit.quantity}')
                        div
                          b Stats
                          br
                          span Hp: #{unit.stats.hp}
                          span |
                          span Def: #{unit.stats.def}
                          span |
                          span Att: #{unit.stats.att}
                          br
                  input(type='submit' value='Embark!')
            td
              div(class='adventure')
                h4= user.adventure.name
                h5 Details:
                p Opponents:
                ul
                  each opponentsNumber, opponentName in user.adventure.details.opponents
                    li #{opponentName}: #{opponentsNumber}
                p Reward:
                ul
                  each rewardValue, rewardName in user.adventure.details.reward
                    li #{rewardName}: #{rewardValue}
    else
      p Cannot embark on this adventure!
