extends layout

block content
  include user_nav
  div#game-main-container
    include game_nav
    include game_resources_bar
    div
      if err
        p(class='error')= err
      if user.adventures
        each adventure in user.adventures
          div(class='adventure')
            h4= adventure.name
            h5 Details:
            p Opponents:
            ul
              each opponentsNumber, opponentName in adventure.details.opponents
                li #{opponentName}: #{opponentsNumber}
            p Reward:
            ul
              each rewardValue, rewardName in adventure.details.reward
                li #{rewardName}: #{rewardValue}
            form(method='GET' action='/game/adventures/embark/#{adventure.id}')
              input(type='submit' value='Embark!')
            hr
      else
        p No adventures available!
