extends layout

block content
  include guest_nav
  h1= title
  h2 Highscore
  table
    each score, index in highscores
      tr
        td= index+1
        td= score.username
        td= score.highscore
