extends layout

block content
  include guest_nav
  h1= title
  if error
    p.
      #{error}
  form(action='/login' method='POST')
    table
      tr
        td
          label Login:
        td
          input(type='text' name='login')
      tr
        td
          label Password:
        td
          input(type='password' name='password')
      tr
        td
        td
          input(type='submit' value='Login')
