extends layout

block content
  include guest_nav
  h1= title
  if error
    p.
      #{error}
  form(action='/registration' method='POST')
    table
      tr
        td
          label Login:
        td
          input(type='text' name='login')
      tr
        td
          label Password:
        td
          input(type='password' name='password')
      tr
        td
          label Repeat password:
        td
          input(type='password' name='repeatPassword')
      tr
        td
          label E-mail:
        td
          input(type='text' name='email')
      tr
        td
        td
          input(type='submit' value='Create account')
